<h1>Blog Posts</h1>

<% @posts.each do |post| %>
    <div class="card card-body bg-light" style="margin-bottom: 15px">
        <h3><%= post.title %></h3>
        <p><%= post.body %></p>
        <%= link_to 'Read More', post_path(post), :class => 'btn btn-primary'%>
    </div>
<% end %>